.RuleRow {
    display: grid;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #cecece;
    grid-template-columns: 1fr 30px 1fr 30px 1fr;
}
.RuleRow > .EventBox,
.RuleRow > .RuleBox,
.RuleRow .name,
.RuleRow .desc {
    margin-right: 10px
}
.RuleRow > .EventBox {
    padding: 5px 10px 5px 5px;
    border: 2px solid #1565c0;
    background-color: #1565c0;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.RuleRow > .RuleBox {
    padding: 5px;
    align-items: center;
    border: 2px solid #1565c0;
    color: #1565c0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
