.Categories {
    margin: 0px;
    padding: 0;
    list-style-position: inside;
    width: 95%;
}

.Categories LI {
    padding: 1px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.Categories LI:hover {
    border-bottom: 1px dotted #aaa;
}