.Categories {
    margin: 0px;
    padding: 4px;
    list-style-position: inside;
    width: 95%;
}

.Categories LI {
    cursor: pointer;
    padding: 5px;
}

.Categories LI:hover {
    background-color: rgba(200,200,200,.2);
}