.MainMenu {
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(0, 105, 192);
    padding-left: 4px;
    -webkit-box-shadow: inset -10px -1px 10px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -10px -1px 10px -13px rgba(0,0,0,0.75);
    box-shadow: inset -10px -1px 10px -13px rgba(0,0,0,0.75);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}