.SubMenu {
    display: flex;
    flex-direction: column;
    color: #333;
    min-width: 180px;
    width: 200px;
    padding: 5px 12px 5px 5px;
    -webkit-box-shadow: inset -10px -1px 10px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -10px -1px 10px -13px rgba(0,0,0,0.75);
    box-shadow: inset -10px -1px 10px -13px rgba(0,0,0,0.75);
    background: linear-gradient(45deg, #ccc 30%, #ddd 90%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SubMenuHeader {
    font-size: 150%;
    margin: 0 5px 15px 0;
    padding: 5px;
    border-bottom: 1px #bbb solid;
    font-weight: 500;
}

.SubMenuHeader SPAN {
    font-weight: 300;
}

.SubMenu .SubMenuFiller {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.SubMenu .SubMenuFiller > .Branding {
    margin: 5px;
    border-top: 1px #bbb solid;
    padding: 10px 5px 5px 5px;
}
.SubMenu .SubMenuFiller > .Branding > .TagName {
    font-size: 80%;
    font-weight: 300;
    letter-spacing: 0.08em;
}
.SubMenu .SubMenuFiller > .Branding > .BrandName SPAN {
    font-weight: 300;
    font-size: 80%;
}
.SubMenu .SubMenuFiller > .Branding > .BrandName {
    font-size: 120%;
}
.SubMenu .SubMenuFiller > .SupportUs {
    color: #1565c0;
    font-size: 85%;
    width: 100%;
    margin: 5px;
    border-top: 1px #bbb solid;
}
.SubMenu .SubMenuFiller > .SupportUs  > .Social {
    background-color: transparent;
    border: 2px solid #1565c0;
    color: inherit;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    display: inline-flex;
    margin: 2px;
    cursor: pointer;
    vertical-align: middle;
}

.SubMenu .SubMenuFiller > .SupportUs  > .Social:hover {
    background-color: #1565c0;
    color: white;
}

.SubMenu .SubMenuFiller > .SupportUs  > .Social > .Icon {
    display: flex;
    align-content: center;
}