.SubMenuItem {
    margin: 1px 5px 1px 10px;
    color: #333;
    padding: 5px 8px;
    cursor: pointer;
}

.SubMenuSelectedItem {
    background: linear-gradient(45deg, #ef6c00 30%, #e65100 90%);
    border-radius: 4px;
    color: #334;
    animation-name: transition;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.SubMenuNotSelectedItem:hover {
    background: #666;
    opacity: .75;
    border-radius: 4px;
    color: white;
}

@keyframes transition {
    0% {
        background: #eee;
    }
    100% {
        background: #ef6c00;
    }
}
