.AdvancedSquareCard {
    display: inline-flex;
    border: solid rgba(225,225,225, 0.8) 1px;
    background: rgba(225,225,225, 0.8);
    cursor: pointer;
    width: 190px;
    height: 190px;
    max-height: 200px;
    margin: 6px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 120%;
    font-weight: 400;
    position: relative;
}

.AdvancedSquareCard:hover {
    border: solid #ccc 1px;
    background: whitesmoke;
}

.AdvancedSquareCard > .Details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    height: 44px;
}

.AdvancedSquareCard .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    sont-size: 110%;
    text-align: center;
}

.AdvancedSquareCard .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 70%;
    text-align: center;
    max-height: 60px;
}

.AdvancedSquareCard .icon {
    margin: 10px;
    color: #666666;
}

.AdvancedSquareCard .enabled {
    border-bottom: #00c853 solid 7px;
}

.AdvancedSquareCard .disabled {
    border-bottom: #d81b60 solid 7px;
}

.AdvancedSquareCard > .Buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: solid 2px #1565c0;
}

.AdvancedSquareCard .Buttons .Button {
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #1565c0;
    width: 100%;
    justify-content: center;
    padding: 9px;
}

.AdvancedSquareCard .Buttons .Button:hover {
    background-color: #1565c0;
    color: white;
}