 SPAN.Button {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    user-select: none;
    font-weight: 400;
    background-color: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

 SPAN.EnabledButton {
    border: solid 2px #006db3;
    color: #006db3;
}

 SPAN.DisabledButton {
    border: solid 2px #888;
    color: #888;
}
 SPAN.ConfirmedButton {
    border: solid 2px #43a047;
    background-color: #43a047;
    color: whitesmoke;
}
 SPAN.ErrorButton {
    border: solid 2px #d81b60;
    background-color: #d81b60;
    color: whitesmoke;
}
 SPAN.ButtonSelected {
    background-color: #006db3;
    color: white;
}

 SPAN.EnabledButton:hover {
    background-color: #006db3;
    color: white;
    -webkit-box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0 0 8px -1px rgba(0,0,0,0.75);
}