.KeyValueInput {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.KeyValueList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.KeyValueList > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 2px;
  align-items: center;
}

.KeyValueList > li:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}
