.ListOfDottedInputs {
    display: flex;
    flex-direction: column;
}

.ListOfDottedInputs > .AddForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
}

.ListOfDottedInputs > FIELDSET {
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.26);
    border-width: 1px;
    height: 200px;
    overflow-y: auto;
}


.ListOfDottedInputs > FIELDSET > LEGEND{
    color: rgba(0, 0, 0, 0.54);
    font-size: .8rem;
    font-weight: 400;
    line-height: 1;
}

.ListOfDottedInputs > .Buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}