.ListOfDottedInputs {
    display: flex;
    flex-direction: column;
}

.ListOfDottedInputs > .AddForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
}

.ListOfDottedInputs > .Values {
    height: 200px;
    overflow-y: auto;
}

.ListOfDottedInputs > .Buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}