.ServiceCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin: 5px;
    height: 360px;
}

.ServiceCard > .Title {
    padding: 10px 15px;
    font-size: 140%;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #444;
    border-radius: 10px 10px 0 0 ;
}

.ServiceCard > .Desc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.ServiceCard > .Desc > .Text {
    overflow-y: auto;
    height: 160px;
}

.ServiceCard > .Desc > .Install {
    overflow-y: auto;
    height: 105px;
}