.DataBrowsingList {
    height: 100%;
    display: grid;
    grid-template-rows: 200px calc(100% - 255px)
}

.DataBrowsingList > .Data {
    padding: 5px 0;
    height: 100%;
}

.DataBrowsingList > .Data > .ObjectList > .DataContent {
    height: 100%;
    overflow-y: scroll;
}

