.DataBrowsingList {
    height: 100%;
    display: grid;
    grid-template-rows: 200px calc(100% - 205px)
}

.DataBrowsingList > .Chart {
    height: 200px;
}

.DataBrowsingList > .Data {
    height: 100%;
}

