.DataAnalytics {
    display: grid;
    height: inherit;
    grid-template-rows: 55px calc(100% - 60px)
}
.DataAnalytics  > .Filtering {
    height: 55px;
}

.DataAnalytics  > .Data {
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
