.DataAnalytics {
    display: flex;
    flex-direction: column;
}
.DataAnalytics  > .Filtering {
    height: 55px;
}

.DataAnalytics  > .Data {
    margin: 0 4px;
    display: flex;
    flex-direction: column;
}
