.RightTabScroller {
    height: calc(100% - 50px);
    overflow-y: scroll;
    padding: 5px 8px;
    overflow-x: hidden;
}
.DetailActionButtons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}