.PiiDetails {
    width: 100%;
    display: flex;
    padding: 10px 40px;
    color: #444;
    width: 100%;
}

.PiiBox {
    display: grid;
    grid-template-columns: 400px calc(100% - 405px);
    align-content: center;
    width: 100%;
}

.PiiIcon {
    border: solid #444 3px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.PiiData {
    display: flex;
    flex-direction: row;
}

.PiiData SECTION {
    display: flex;
    flex-direction: column;
}
.PiiData ASIDE > DIV,
.PiiData SECTION > DIV {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 90%;
}

.PiiBox .PiiNameSurname {
    display: grid;
    grid-template-columns: 100px calc(100% - 105px);
    width: 100%;
    align-items: center;
}

.PiiBox .Name {
    font-size: 160%;
    letter-spacing: 1px;
    font-weight: 400;

}

.PiiBox ASIDE {
    margin-left: 100px;
}