.FilterAddForm {
    padding: 10px;
    width: 100%;
}
.FilterAddForm > DIV {
    display: grid;
    grid-template-columns: auto 215px;
    width: inherit;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    grid-gap: 5px;
    border-radius: 5px;
}

.FilterAddForm > DIV.FullGrid {
    display: flex !important;
    grid-template-columns: none;
}