.MdManual {
    width: inherit;
    height: 100%;
    overflow: auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
    user-select: text;
}
.MdManual A {
    color: rgb(0, 105, 192);
}

.MdManual H1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

.MdManual H2 {
    margin: 0;
    font-size: 17px;
}

.MdManual CODE {
    background: whitesmoke;
    display: inline-flex;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: solid 2px #ccc;
    color: black;
    font-family: "Roboto Mono";
}