.SessionSlider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    height: 700px;
}
.MuiSlider-root {
    width: 250px;
    margin-right: 15px;
    color: #006db3;
    margin-left: 10px;
}