.Content {
    color: #333;
    overflow: hidden;
    height: 100%;
    width: inherit;
}

.rc-menu-button {
    display: inline-flex;
    align-items: center;
    border: 0;
    background: transparent;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 5px;
}

.rc-menu-button:hover {
    background: #ef6c00;
    cursor: pointer;
}

.rc-menu {
    background-color: #1565c0 !important;
    color: white !important;
    box-shadow: none !important;
    padding: 5px 5px 5px 7px !important;
    border-radius: 6px !important;
}

.rc-menu__arrow {
    background-color: #1565c0 !important;
}
.rc-menu__item {
    font-size: 16px;
}
.rc-menu__item--hover {
    background-color: #ef6c00 !important;
    border-radius: 5px;
}
