.TopInfoBar {
    min-height: 60px;
    border-bottom: 1px #ccc solid;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 5px 0px 0px;
    width: inherit;
    padding: 4px;
    background: white;
}

.TopInfoBar .LogOutButton {
    display: flex;
    width: 125px;
    justify-content: right;
}

.TopInfoBar .ActionButtons {
    display: flex;
    width: 100%;
    justify-content: right;
}

.TopInfoBar > .Path {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-content: center;
    color: #666;
    font-size: 90%;
}
