.ConsoleView {
    padding: 0;
    background-color: white;
    border-radius: 10px;
    border: solid #eee 1px;
    height: 100%;
}

.ConsoleView >.Title {
    padding: 10px;
    height: 48px;
    border-bottom: #ccc 1px solid;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items: center;
}

.ConsoleView >.Content {
    padding: 10px;
    height: calc(100% - 45px);
    overflow-y: auto;
}