.HighlightTag {
    display: inline-flex;
    align-items: center;
    padding: 2px 10px;
    margin-top: 2px;
    border-radius: 5px;
    font-size: 90%;
    cursor: help;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}