.IconButton {
    padding: 3px;
    border: 2px #1565c0 solid;
    border-radius: 3px;
    display: inline-grid;

    cursor: pointer;
    margin: 1px;
}

.IconButtonRegular {
    color: #1565c0;
    background-color: white;
}

.IconButtonSelected {
    color: white;
    background-color:  #1565c0;
}