.SocialButton {
    display: inline-flex;
    align-content: center;
    padding: 6px 6px;
    border-radius: 5px;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    background: #1565c0;
    cursor: pointer;
    line-height: 1.5em;
    color: white;
    text-decoration: none;
}

.SocialButton:hover {
    opacity: .75;
}

.SocialButton SPAN.Label {
    margin-left: 5px;
}

.SocialButton SPAN.Icon {
    display: flex;
    align-items: center;
}