.SocialButton {
    display: inline-flex;
    align-content: center;
    padding: 6px 6px;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    background: #9c27b0;
    cursor: pointer;
    line-height: 1.5em;
    color: white;
    text-decoration: none;
}

.SocialButton:hover {
    opacity: .75;
}

.SocialButton SPAN.Label {
    margin-left: 5px;
}

.SocialButton SPAN.Icon {
    display: flex;
    align-items: center;
}