.ActionDebugBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ActionDebugBox .Errors {
    padding: 10px;
    background-color: #d81b60;
    color: whitesmoke;
    font-size: 14px;
    margin: 10px 0;
    border-radius: 5px;
}