DIV.ExecutionNumber {
    border-radius: 40%;
    color: white;
    padding-right: 1px;
    position: absolute;
    top: -10px;
    right: 4px;
    font-size: 10px;
    display: flex;
    width: 22px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

DIV.Ok {
    background-color: #43a047 !important;
}

DIV.Error {
    background-color: #d81b60 !important;
}