.DebugAndProfile {
    display: grid;
    grid-template-rows: [profilling] 30% [debugging] 70%;
    height: 100%;
    user-select: none;
}
.Debugging {
    grid-area: debugging;
    height: 100%;
    overflow: auto;
    padding-top: 10px;
}
.Profiling {
    grid-area: profilling;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    margin: 0 5px;
    height: 100%;
    webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
}

.TaskHeader {
    position: relative;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    background-color: white;
    color: black;
    font-weight: 600;
    -webkit-box-shadow: 0px 9px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 9px 6px -6px rgba(0,0,0,0.3);
    box-shadow: 0px 9px 6px -6px rgba(0,0,0,0.3);
}

.TaskRow {
    position: relative;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: dashed 1px #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.TaskRow:hover {
    background-color: #eee;
    color: black;
}

.HighRow {
    background-color: #ddd;
}

.CurrentCall {
    background-color: #ad1457 !important;
    color: white !important;
}

.TaskHeader .TaskSq,
.TaskRow .TaskSq {
    min-width: 30px;
    padding: 5px 5px 5px 10px;
    position: sticky;
    left: 0px;
    z-index: 2;
    background-color: inherit;
}
.TaskHeader .TaskName,
.TaskRow .TaskName {
    width: 130px;
    border-right: solid 1px #ccc;
    padding: 0 5px;
    position: sticky;
    left: 31px;
    z-index: 2;
    background-color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.TaskHeader .TaskRunTime,
.TaskRow .TaskRunTime {
    padding: 0 5px;
    border-right: solid 1px #ccc;
    min-width: 70px;
}
.TaskHeader .TaskBar,
.TaskRow .TaskBar {
    position: relative;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 5px;
}

.TaskRow .TaskBar .Task {
    position: absolute;
    background-color: #d81b60;
    border-radius: 5px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TaskRow .TaskBar .Task .TaskBall {
    background-color: white;
    z-index: 1;
    border: 2px solid #d81b60;
    border-radius: 50%;
    min-height: 10px;
    min-width: 10px;
}

.TaskRow .FailStatus {
    color: white;
    background-color: #d81b60;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.TaskRow .OKStatus {
    color: white;
    background-color: #43a047;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
}