.FlowPane .react-flow {
    font-family: inherit !important;
    height: inherit !important;
}

.FlowPane .react-flow .react-flow__edge-path {
    stroke-width: 4 !important;
}

.FlowPane .react-flow__edge-default .react-flow__edge-path {
    stroke: #1565c0 !important;
}
.FlowPane .react-flow__edge-default.selected .react-flow__edge-path {
    stroke: #644 !important;
}

.FlowPane .react-flow__edge.react-flow__edge-default.selected {

}

.FlowEditor {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.FlowEditor > .WorkArea {
    display: flex;
    flex-direction: row;
    height: inherit;
}

.FlowEditor > .WorkArea > .LeftColumn {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    position: relative;
}

.FlowEditor .WorkArea > .LeftColumn > .FlowPane {
    flex: 1;
    height: inherit;
}