.FlowEditorTitle {
    background: whitesmoke;
    z-index: 10;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 120%;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.FlowEditorTitle > DIV {
    display: flex;
    align-items: center;
}