.react-flow__handle {
    width: 12px !important;
    height: 12px !important;
    background-color: white !important;
    border-radius: 100% !important;
    position: unset !important;
    border:2px solid #1565c0 !important;
    transform: none !important;
}

.react-flow__handle-bottom {
    bottom: -6px !important;
}

.react-flow__handle-top {
    top: -6px !important;
}

.react-flow__node-default.selected .NodePanel {
    box-shadow: 0 0 0 0;
    cursor: grab;
    background-color: rgb(0, 105, 192);
    color: white;
}

.react-flow__node .NodePanel {
    color: #333;
    text-transform: none;
    z-index: 10
}

.react-flow__node-flowNode.selected .NodePanel,
.react-flow__node-flowNode.selected:hover .NodePanel{
    cursor: grab;
    background-color: rgb(0, 105, 192);
    color: white;
    border: solid 2px rgb(0, 105, 192);
}

DIV.NodePorts {
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

DIV.NodePanel {
    display: flex;
    flex-direction: row;
    padding: 7px;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    background-color: white;
    font-size: 14px;
}

DIV.NodeIcon {
    width: 24px;
    display: grid;
    font-size: 13px;
}

DIV.NodeLabel {
    display: flex;
    align-items: center;
    overflow: hidden;
}