.react-flow__handle {
    width: 14px !important;
    height: 14px !important;
    background-color: white !important;
    border-radius: 100% !important;
    position: unset !important;
    border:2px solid #1565c0 !important;
    transform: none !important;
}

.react-flow__handle-bottom {
    bottom: -6px !important;
}

.react-flow__handle-top {
    top: -6px !important;
}

.react-flow__node-default.selected .NodePanel {
    box-shadow: 0 0 0 0;
    cursor: grab;
    background-color: rgb(0, 105, 192);
    color: white;
}

.react-flow__node .NodePanel {
    color: #333;
    text-transform: none;
    z-index: 10
}

.react-flow__node-flowNode.selected .NodePanel,
.react-flow__node-flowNode.selected:hover .NodePanel{
    cursor: grab;
    background-color: rgb(0, 105, 192);
    color: white;
    border: solid 2px rgb(0, 105, 192);
}

DIV.NodePorts {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

DIV.NodePorts DIV.NodePortContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    position: relative;
    z-index: 11;
}

DIV.NodePortContainer .PortHint {
    background-color: aliceblue;
    color: #444;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 80%;
    margin: 4px;
}

DIV.NodePortContainer .InputPortHint {
    bottom: 15px;
    position:absolute;
}

DIV.NodePortContainer .OutputPortHint {
    top: 15px;
    position:absolute;
}

DIV.NodePanel {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    background-color: white;
    font-size: 14px;
    position: relative;
}

DIV.NodePadding {
    padding: 7px;
    width: inherit;
    display: flex;
}

DIV.NodePro {
    display: flex;
    color: white;
    align-items: center;
    background-color: #333;
    padding: 0 10px;
}

DIV.DebugNode {
    background-color: #ad1457 !important;
    border-color: #ad1457 !important;
    color: white !important;
}

DIV.NodeIcon {
    width: 24px;
    display: grid;
    font-size: 13px;
}

DIV.NodeLabel {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
}

DIV.NodeLabel > P {
    margin: 0;
    font-weight: 400;
}

DIV.NodeLabel ASIDE {
    font-size: 70%;
    margin-left: 5px;
}