.FlowEditorTitle {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    background: rgba(235,235,235,0.85);
    z-index: 50;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
}