.FlowEditorTitle {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(235,235,235,0.75);
    z-index: 10;
    padding: 6px 15px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    width: 100%;
}