.react-flow__handle {
    width: 12px;
    height: 12px;
    border-radius: 0;
    border: 1px solid #000;
    background-color: white;
    border-radius: 2px;
    position: unset;
}

.react-flow__node-default {
    border-width: 2px;
    border-color: #1565c0;
    padding: 6px;
}

.react-flow__node-default .react-flow__handle {
    background-color: white;
}

.react-flow__handle-bottom {
    bottom: -6px;
    border-width: 2px;
    border-color: #1565c0;
    transform: none;
}

.react-flow__handle-top {
    top: -6px;
    border-width: 2px;
    border-color: #1565c0;
    transform: none;
}

.react-flow__node-default.selected {
    box-shadow: 0 0 0 0;
    cursor: grab;
    background-color: rgb(0, 105, 192);
    color: white;
}

.react-flow__node {
    color: #333;
    text-transform: none;
    z-index: 10
}

.react-flow__node-flowNode.selected,
.react-flow__node-flowNode.selected:hover {
    box-shadow: 0 0 0 0;
    cursor: grab;
    background-color: rgb(0, 105, 192);
    color: white;
    border: solid 2px rgb(0, 105, 192);
}

DIV.NodePorts {
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

DIV.NodePanel {
    display: flex;
    flex-direction: row;
    padding: 7px;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    background-color: white;
    font-size: 14px;
}

DIV.NodeIcon {
    width: 24px;
    display: grid;
    font-size: 13px;
}

DIV.NodeLabel {
    display: flex;
    align-items: center;
    overflow: hidden;
}

DIV.SequenceNumber {
    border-radius: 50%;
    background-color: #999;
    color: white;
    padding: 1px 5px;
    position: absolute;
    top: -10px;
    right: 4px;
    font-size: 70%;
    display: grid;
}

DIV.Ok {
    background-color: #43a047 !important;
}

DIV.Error {
    background-color: #d81b60 !important;
}