.FlowEditor > .WorkArea  .TaskDetails {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0;
    z-index:9;
    display: none;
    flex-direction: row;
}


.FlowEditor > .WorkArea  .TaskDetails > .Pane {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane  .Title {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px;
    padding-left: 20px;
    color: #000;
    background-color: #ccc;
    justify-content: space-between;
}
.FlowEditor > .WorkArea  .TaskDetails > .Pane  .Title .TitleText
{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content .SubTitle {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 15px;
    color: #000;
    background-color: #ddd;
    font-size: 12px;
    justify-content: space-between;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content {
    font-size: 13px;
    overflow-y: auto;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content  TABLE {
    width: 100%;
    border: solid 1px #ccc;
    border-collapse: collapse;
    border-spacing: 0;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content  TD:first-child {
    border-right: solid 1px #ccc;
    background-color: #f5f5f5;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content  TD {
    padding: 7px 15px;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content  .InfoBox {
    padding: 7px 15px;
}

.FlowEditor > .WorkArea  .TaskDetails > .Pane .Content  TR {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
