.SidebarRight {
    padding: 0;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    border: solid 2px #ccc;
    z-index: 50;
    position: relative;
    animation: moveLeftAndOpacity;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}