.SidebarRight {
    grid-area: properties;
    width: 640px;
    padding: 0;
    background-color: rgba(235, 235, 235, 0.85);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px #ccc solid;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
}