.IconList {
    width: 300px;
    max-height: 400px;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
}

.IconList > .Icon {
    padding: 10px;
    cursor: pointer;
    display:grid;
    align-self: center;
}

.IconList > .Icon:hover {
    background-color: rgba(200,200,200,.2);
    border-radius: 4px;
}