.StandardFilteredList {
    height: inherit;
    padding: 10px;
    background-color: #eee;
}

.StandardFilteredList > .StandardFilterInput {
    background: #f5f5f5;
    padding: 10px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StandardFilteredList > .StandardFilterInput > .StandardFilter {
    width: 100%;
    margin-right: 10px;
}

.StandardFilteredList > .StandardFilterInput > .StandardAdd {
    width: 200px;
}

.StandardFilteredList > .StandardFilterList {
    flex-wrap: wrap;
    height: calc(100% - 65px);
    overflow: auto;
    display: flex;
    padding: 10px 0;
}