@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Viga&display=swap');

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  overflow: hidden;
}

html {
  height:100%;
}

html * {
  scrollbar-width: thin;
  scrollbar-color: #666 transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height:100%;
}
